{% extends 'base.html' %}
{% block body %}
    <h1>My Webpage</h1>
            <div>
                <p>
                    Name: {{ name }}
                </p>
                <p>
                    Name: {{ name|upper }}
                </p>
                <p>
                    Name: {{ name|lower }}
                </p>
                <p>
                    Country: {{ country }}
                </p>
                <p>
                    {% for num in list %}
                    {% if num <= 3 %}
                    <h{{ num }}>Life is cool Bro</h{{ num }}>
                    {% else %}
                    <h{{ num }}>Life is Difficult</h{{ num }}>
                    {% endif %}
                    {% endfor %}
                </p>
            </div>

{% endblock %}